<div class="container">
    <body style= "background-color: rgba(230, 235, 242)">
        <div class="container">
            <div class="row" >
                <div class="col" align="center" >
                    <img src="/static/image/적금이미지.png" alt="Image 1" class="img-fluid" width="50">
                    <font size = 6 style="color: rgba(0, 43, 91)" >예금</font>
                </div>
            </div>
            <br>
            <div class="row" >
                <div class="col" align="center" >
                    <font size = 3 style="color: rgba(0, 43, 91)" >안녕하세요! 🌟 정기예금 상품은 정해진 기간동안 일정 금액을 예치해 </font><br>
                    <font size = 3 style="color: rgba(0, 43, 91)" >이자수익을 받을 수 있는 저축 방식으로 </font>
                    <font size = 3 style="color: rgba(234, 84, 87)" ><b>‘목돈 굴리기’</b></font>
                    <font size = 3 style="color: rgba(0, 43, 91)" >에 적합합니다.</font>
                    
                </div>
            </div>
            <br>
                <div class="rounded-box" >
                    <div class="v-line"></div>
                    <div class="v-line2"></div>
                    <div class = "v-line-s"></div>
                    <div class = "v-line-s1"></div>
                    <div class = "v-line-s2"></div>
                    <div class="container">
                        <div class = "row">
                            <div class = "col" align = "center" style="line-height:100%"> 
                                <br>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col" align = "center" > 
                                <font size = 3 style="color: rgba(255, 0, 0)"  ><b>보장금리:</b></font>    
                                <font size = 3 style="color: rgba(0, 43, 91)"  ><b>사용자님이 선택하신 우대사항에 따라 적용된 금리입니다.</b> </font>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-sm">  
                                <div class="container">
                                    <div class = "row" >
                                        <div class = "col-sm-4" align = "center" style="line-height:100%">
                                            <br>
                                            <img src="/static/image/실손의료보험.png" alt="Image 1" class="img-fluid" width="50">
                                            <br>
                                            <font size = 2 style="color: rgba(0, 43, 91)"  >{{df_d[1][0]}}</font>   
                                        </div>
                                        <div class = "col-sm-8" align = "center"  style="line-height:150%">
                                            <br >
                                            <font size = 4 style="color: rgba(0, 43, 91)"  >{{df_d[1][1]}}</font>   
                                        </div>
                                    </div>  
                                    <div  style="line-height:180%"> <br></div>  
                                    <div class = "col-sm" align = "center"></div>
                                    <div class = "row">
                                        <div class = "col-sm" align = "center">
                                            <font size = 5 style="color: rgba(0, 43, 91)"  >{{df_d[1][3]}}</font>
                                        </div>
                                        <div class = "col-sm" align = "center">
                                            <font size = 5 style="color: rgba(255, 0, 0)"  ><b>{{df_d[1][2]}}%</b></font>
                                        </div>
                                    </div>  
                                    <div  style="line-height:120%"> <br></div>  
    
                                    <div class = "row">
                                        <div class = "col-sm" align = "center">
                                            <font size = 4 style="color: rgba(0, 43, 91)"  >기본금리</font>
                                        </div>
                                        <div class = "col-sm" align = "center">
                                            <font size = 4 style="color: rgba(0, 43, 91)"  >보장금리</font>
                                        </div>
                                    </div>    
                                    <div  style="line-height:180%"> <br></div>  
                                    <div class = "row">
                                        <div class = "col-sm-8" >
                                            <div class="rounded-box-big" >
                                                    <div class="rounded-box-small" align = "center" style="line-height:80%" > <br>
                                                        <font size = 3 style="color: rgba(255, 255, 255)"  >이자계산방식</font>
                                                    </div>
                                                    <div class="rounded-box-small2" align = "center" style="line-height:80%" > <br>
                                                        <font size = 3 style="color: rgba(0, 43, 91)"  >{{df_d[1][4]}}</font>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class = "col-sm-4" align = "center"  > 
                                            <div class="rounded-box-more" align = "center" style="line-height:40%" >
                                                <br>
                                                <font size = 2 style="color: rgba(255, 255, 255)"  >더알아보기</font>
                                            </div>
                                            <!-- <div class="rounded-box-small" ></div> -->
                                        </div>
                                    </div>                         
                                </div>
                            </div>
                                
                            <div class = "col-sm">  
                                <div class="container">
                                    <div class = "row" >
                                        <div class = "col-sm-4" align = "center" style="line-height:100%">
                                            <br>
                                            <img src="/static/image/실손의료보험.png" alt="Image 1" class="img-fluid" width="50">
                                            <br>
                                            <font size = 2 style="color: rgba(0, 43, 91)"  >{{df_d[0][0]}}</font>   
                                        </div>
                                        <div class = "col-sm-8" align = "center"  style="line-height:150%">
                                            <br >
                                            <font size = 4 style="color: rgba(0, 43, 91)"  >{{df_d[0][1]}}</font>   
                                        </div>
                                    </div>  
                                    <div  style="line-height:180%"> <br></div>  
                                    <!-- <div class = "v-line-s"></div> -->
                                    <div class = "row">
                                        
                                        <div class = "col-sm" align = "center">
                                            <font size = 5 style="color: rgba(0, 43, 91)"  >{{df_d[0][3]}}</font>
                                        </div>
                                        
                                        <div class = "col-sm" align = "center">
                                            <font size = 5 style="color: rgba(255, 0, 0)"  ><b>{{df_d[0][2]}}%</b></font>
                                        </div>
                                    </div>  
                                    <div  style="line-height:120%"> <br></div>  
    
                                    <div class = "row">
                                        <div class = "col-sm" align = "center">
                                            <font size = 4 style="color: rgba(0, 43, 91)"  >기본금리</font>
                                        </div>
                                        <div class = "col-sm" align = "center">
                                            <font size = 4 style="color: rgba(0, 43, 91)"  >보장금리</font>
                                        </div>
                                    </div>    
                                    <div  style="line-height:180%"> <br></div>  
                                    <div class = "row">
                                        <div class = "col-sm-8" >
                                            <div class="rounded-box-big" >
                                                    <div class="rounded-box-small" align = "center" style="line-height:80%" > <br>
                                                        <font size = 3 style="color: rgba(255, 255, 255)"  >이자계산방식</font>
                                                    </div>
                                                    <div class="rounded-box-small2" align = "center" style="line-height:80%" > <br>
                                                        <font size = 3 style="color: rgba(0, 43, 91)"  >{{df_d[0][4]}}</font>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class = "col-sm-4" align = "center"  > 
                                            <div class="rounded-box-more" align = "center" style="line-height:40%" >
                                                <br>
                                                <font size = 2 style="color: rgba(255, 255, 255)"  >더알아보기</font>
                                            </div>
                                            <!-- <div class="rounded-box-small" ></div> -->
                                        </div>
                                    </div>                         
                                </div>
                            </div>
                            <div class = "col-sm">  
                                <div class="container">
                                    <div class = "row" >
                                        <div class = "col-sm-4" align = "center" style="line-height:100%">
                                            <br>
                                            <img src="/static/image/실손의료보험.png" alt="Image 1" class="img-fluid" width="50">
                                            <br>
                                            <font size = 2 style="color: rgba(0, 43, 91)"  >{{df_d[2][0]}}</font>   
                                        </div>
                                        <div class = "col-sm-8" align = "center"  style="line-height:150%">
                                            <br >
                                            <font size = 4 style="color: rgba(0, 43, 91)"  >{{df_d[2][1]}}</font>   
                                        </div>
                                    </div>  
                                    <div  style="line-height:180%"> <br></div>  
                                    
                                    <div class = "row">
                                        <div class = "col-sm" align = "center">
                                            <font size = 5 style="color: rgba(0, 43, 91)"  >{{df_d[2][3]}}</font>
                                        </div>
                                        <div class = "col-sm" align = "center">
                                            <font size = 5 style="color: rgba(255, 0, 0)"  ><b>{{df_d[2][2]}}%</b></font>
                                        </div>
                                    </div>  
                                    <div  style="line-height:120%"> <br></div>  
    
                                    <div class = "row">
                                        <div class = "col-sm" align = "center">
                                            <font size = 4 style="color: rgba(0, 43, 91)"  >기본금리</font>
                                        </div>
                                        <div class = "col-sm" align = "center">
                                            <font size = 4 style="color: rgba(0, 43, 91)"  >보장금리</font>
                                        </div>
                                    </div>    
                                    <div  style="line-height:180%"> <br></div>  
                                    <div class = "row">
                                        <div class = "col-sm-8" >
                                            <div class="rounded-box-big" >
                                                    <div class="rounded-box-small" align = "center" style="line-height:80%" > <br>
                                                        <font size = 3 style="color: rgba(255, 255, 255)"  >이자계산방식</font>
                                                    </div>
                                                    <div class="rounded-box-small2" align = "center" style="line-height:80%" > <br>
                                                        <font size = 3 style="color: rgba(0, 43, 91)"  >{{df_d[2][4]}}</font>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class = "col-sm-4" align = "center"  > 
                                            <div class="rounded-box-more" align = "center" style="line-height:40%" >
                                                <br>
                                                <font size = 2 style="color: rgba(255, 255, 255)"  >더알아보기</font>
                                            </div>
                                            <!-- <div class="rounded-box-small" ></div> -->
                                        </div>
                                    </div>                         
                                </div>
                            </div>
    
                        </div>
    
    
                    </div>
    
            </div>
        </div>
    <div class="row" >
        <div class="col" align="center" >
            <img src="/static/image/적금이미지.png" alt="Image 1" class="img-fluid" width="50">
            <font size = 6 style="color: rgba(0, 43, 91)" >적금</font>
        </div>
    </div>
    <br>
    <div class="row" >
        <div class="col" align="center" >
            <font size = 3 style="color: rgba(0, 43, 91)" >안녕하세요! 🌟 정기적금 상품은 정해진 기간동안 일정 금액을 꾸준히 납부하며 이자수익을 받을 수 있는 저축 방식으로</font><br>
            <font size = 3 style="color: rgba(234, 84, 87)" ><b>‘목돈 만들기’</b></font>
            <font size = 3 style="color: rgba(0, 43, 91)" >’에 적합합니다. 매달 규칙적으로 납부하는 </font>
            <font size = 3 style="color: rgba(234, 84, 87)" >‘정액’</font>
            <font size = 3 style="color: rgba(0, 43, 91)" >방식과 자유롭게 납부하는</font> 
            <font size = 3 style="color: rgba(234, 84, 87)" >‘자유’</font>
            <font size = 3 style="color: rgba(0, 43, 91)" >방식이 있어요.</font><br>
        </div>
    </div>
    <br>
        <div class="rounded-box" >
            <div class="v-line"></div>
            <div class="v-line2"></div>
            <div class = "v-line-s"></div>
            <div class = "v-line-s1"></div>
            <div class = "v-line-s2"></div>
            <div class="container">
                <div class = "row">
                    <div class = "col" align = "center" style="line-height:100%"> 
                        <br>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col" align = "center" > 
                        <font size = 3 style="color: rgba(255, 0, 0)"  ><b>보장금리:</b></font>    
                        <font size = 3 style="color: rgba(0, 43, 91)"  ><b>사용자님이 선택하신 우대사항에 따라 적용된 금리입니다.</b> </font>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">  
                        <div class="container">
                            <div class = "row" >
                                <div class = "col-sm-4" align = "center" style="line-height:100%">
                                    <br>
                                    <img src="/static/image/실손의료보험.png" alt="Image 1" class="img-fluid" width="50">
                                    <br>
                                    <font size = 2 style="color: rgba(0, 43, 91)"  >{{df_s[1][0]}}</font>   
                                </div>
                                <div class = "col-sm-8" align = "center"  style="line-height:150%">
                                    <br >
                                    <font size = 4 style="color: rgba(0, 43, 91)"  >{{df_s[1][1]}}</font>   
                                </div>
                            </div>  
                            <div  style="line-height:180%"> <br></div>  
                            
                            <div class = "row">
                                <div class = "col-sm" align = "center">
                                    <font size = 5 style="color: rgba(0, 43, 91)"  >{{df_s[1][3]}}</font>
                                </div>
                                <div class = "col-sm" align = "center">
                                    <font size = 5 style="color: rgba(255, 0, 0)"  ><b>{{df_s[1][4]}}%</b></font>
                                </div>
                            </div>  
                            <div  style="line-height:120%"> <br></div>  

                            <div class = "row">
                                <div class = "col-sm" align = "center">
                                    <font size = 4 style="color: rgba(0, 43, 91)"  >기본금리</font>
                                </div>
                                <div class = "col-sm" align = "center">
                                    <font size = 4 style="color: rgba(0, 43, 91)"  >보장금리</font>
                                </div>
                            </div>    
                            <div  style="line-height:180%"> <br></div>  
                            <div class = "row">
                                <div class = "col-sm-8" >
                                    <div class="rounded-box-big" >
                                            <div class="rounded-box-small_s" align = "center" style="line-height:80%" > <br>
                                                <font size = 3 style="color: rgba(255, 255, 255)"  >적립방법</font>
                                            </div>
                                            <div class="rounded-box-small2_s" align = "center" style="line-height:80%" > <br>
                                                <font size = 3 style="color: rgba(0, 43, 91)"  >{{df_s[1][2]}}</font>
                                            </div>
                                    </div>
                                </div>
                                <div class = "col-sm-4" align = "center"  > 
                                    <div class="rounded-box-more" align = "center" style="line-height:40%" >
                                        <br>
                                        <font size = 2 style="color: rgba(255, 255, 255)"  >더알아보기</font>
                                    </div>
                                </div>
                            </div>                         
                        </div>
                    </div>
                        
                    <div class = "col-sm">  
                        <div class="container">
                            <div class = "row" >
                                <div class = "col-sm-4" align = "center" style="line-height:100%">
                                    <br>
                                    <img src="/static/image/실손의료보험.png" alt="Image 1" class="img-fluid" width="50">
                                    <br>
                                    <font size = 2 style="color: rgba(0, 43, 91)"  >{{df_s[0][0]}}</font>   
                                </div>
                                <div class = "col-sm-8" align = "center"  style="line-height:150%">
                                    <br >
                                    <font size = 4 style="color: rgba(0, 43, 91)"  >{{df_s[0][1]}}</font>   
                                </div>
                            </div>  
                            <div  style="line-height:180%"> <br></div>  
                            
                            <div class = "row">
                                <div class = "col-sm" align = "center">
                                    <font size = 5 style="color: rgba(0, 43, 91)"  >{{df_s[0][3]}}</font>
                                </div>
                                <div class = "col-sm" align = "center">
                                    <font size = 5 style="color: rgba(255, 0, 0)"  ><b>{{df_s[0][4]}}%</b></font>
                                </div>
                            </div>  
                            <div  style="line-height:120%"> <br></div>  

                            <div class = "row">
                                <div class = "col-sm" align = "center">
                                    <font size = 4 style="color: rgba(0, 43, 91)"  >기본금리</font>
                                </div>
                                <div class = "col-sm" align = "center">
                                    <font size = 4 style="color: rgba(0, 43, 91)"  >보장금리</font>
                                </div>
                            </div>    
                            <div  style="line-height:180%"> <br></div>  
                            <div class = "row">
                                <div class = "col-sm-8" >
                                    <div class="rounded-box-big" >
                                            <div class="rounded-box-small_s" align = "center" style="line-height:80%" > <br>
                                                <font size = 3 style="color: rgba(255, 255, 255)"  >적립방법</font>
                                            </div>
                                            <div class="rounded-box-small2_s" align = "center" style="line-height:80%" > <br>
                                                <font size = 3 style="color: rgba(0, 43, 91)"  >{{df_s[0][2]}}</font>
                                            </div>
                                    </div>
                                </div>
                                <div class = "col-sm-4" align = "center"  > 
                                    <div class="rounded-box-more" align = "center" style="line-height:40%" >
                                        <br>
                                        <font size = 2 style="color: rgba(255, 255, 255)"  >더알아보기</font>
                                    </div>
                                </div>
                            </div>                         
                        </div>
                    </div>
                    <div class = "col-sm">  
                        <div class="container">
                            <div class = "row" >
                                <div class = "col-sm-4" align = "center" style="line-height:100%">
                                    <br>
                                    <img src="/static/image/실손의료보험.png" alt="Image 1" class="img-fluid" width="50">
                                    <br>
                                    <font size = 2 style="color: rgba(0, 43, 91)"  >{{df_s[2][0]}}</font>   
                                </div>
                                <div class = "col-sm-8" align = "center"  style="line-height:150%">
                                    <br >
                                    <font size = 4 style="color: rgba(0, 43, 91)"  >{{df_s[2][1]}}</font>   
                                </div>
                            </div>  
                            <div  style="line-height:180%"> <br></div>  
                            
                            <div class = "row">
                                <div class = "col-sm" align = "center">
                                    <font size = 5 style="color: rgba(0, 43, 91)"  >{{df_s[2][3]}}</font>
                                </div>
                                <div class = "col-sm" align = "center">
                                    <font size = 5 style="color: rgba(255, 0, 0)"  ><b>{{df_s[2][4]}}%</b></font>
                                </div>
                            </div>  
                            <div  style="line-height:120%"> <br></div>  

                            <div class = "row">
                                <div class = "col-sm" align = "center">
                                    <font size = 4 style="color: rgba(0, 43, 91)"  >기본금리</font>
                                </div>
                                <div class = "col-sm" align = "center">
                                    <font size = 4 style="color: rgba(0, 43, 91)"  >보장금리</font>
                                </div>
                            </div>    
                            <div  style="line-height:180%"> <br></div>  
                            <div class = "row">
                                <div class = "col-sm-8" >
                                    <div class="rounded-box-big" >
                                            <div class="rounded-box-small_s" align = "center" style="line-height:80%" > <br>
                                                <font size = 3 style="color: rgba(255, 255, 255)"  >적립방법</font>
                                            </div>
                                            <div class="rounded-box-small2_s" align = "center" style="line-height:80%" > <br>
                                                <font size = 3 style="color: rgba(0, 43, 91)"  >{{df_s[2][2]}}</font>
                                            </div>
                                    </div>
                                </div>
                                <div class = "col-sm-4" align = "center"  > 
                                    <div class="rounded-box-more" align = "center" style="line-height:40%" >
                                        <br>
                                        <font size = 2 style="color: rgba(255, 255, 255)"  >더알아보기</font>
                                    </div>
                                    <!-- <div class="rounded-box-small" ></div> -->
                                </div>
                            </div>                         
                        </div>
                    </div>

                </div>


            </div>

        </div>
        <br>
</div>


</div>